repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        files: ^.*\.cmake|CMakeLists\.txt$
      - id: end-of-file-fixer
        files: ^.*\.cmake|CMakeLists\.txt$

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.6
    hooks:
      - id: clang-format
        types_or: [c++, c, proto]
  # Check linting and style issues
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.6"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        exclude: ^(docs)
